@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Work+Sans:wght@400;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
html {
  height: 100%;
}
:root {
  --biru: #297bbf;
  --abu: #f6f6f6;
}

h2 {
  font-size: 36px !important ;
  font-weight: 700;
}
h3 {
  font-size: 24px !important;
  font-weight: 700;
}
h4 {
  font-size: 18px !important;
  font-weight: 700;
}

h5 {
  font-size: 15px !important;
  font-weight: 700;
}

p {
  font-size: 14px;
  margin: 0px;
}
.f12 {
  font-size: 12px;
}

.mt100 {
  margin-top: 100px;
}
.mb100 {
  margin-bottom: 100px;
}
.mt50 {
  margin-top: 50px;
}
.mb50 {
  margin-bottom: 50px;
}
.mt40 {
  margin-top: 40px;
}
.mb40 {
  margin-bottom: 40px;
}
.mt25 {
  margin-top: 25px;
}
.mb25 {
  margin-bottom: 25px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}

.p100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.py40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pt100 {
  padding-top: 100px;
}
.pb100 {
  padding-bottom: 100px;
}
.pt50 {
  padding-top: 50px;
}
.pb40 {
  padding-bottom: 40px;
}
.p50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pt20 {
  padding-top: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.biru {
  color: var(--biru);
}
.bg-biru {
  background-color: var(--biru);
  color: white;
}
.btn-primary {
  background-color: var(--biru);
}
.btn-white {
  background-color: white;
  font-family: 700;
  color: black;
  border: 1px solid;
}
.btn-white:hover {
  background-color: #f7f7f7;
}

#file-upload-button {
  background-color: white !important;
}
.bg-abu {
  background-color: var(--abu);
}
.tengah {
  display: flex;
  justify-content: center;
}
.bold {
  font-weight: 700;
}
.dropdown {
  text-decoration: none;
}
.text-red {
  color: #dc3545;
}
.card {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
  border: none;
}
/*********************************************/
/*               NAVBAR                      */
/*********************************************/
#navbar {
  position: fixed;
  z-index: 1;
  /* Make it stick/fixed */
  top: 0;
  /* Stay on top */
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
}
.nav-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  transition: color 0.4s, background-color 0.4s, border-radius 0.4s;
}
.nav-link:focus {
  color: white !important;
}
.nav-link:hover {
  color: #ffffff;
}
.navbarNav:hover {
  color: #297bbf !important;
  background-color: white !important;
  border-radius: 12px;
  transition: color 0.4s, background-color 0.4s, border-radius 0.4s;
}

.nav-item {
  margin-left: 25px;
  margin-right: 25px;
}
.navbarNav.active {
  color: rgba(255, 255, 255);
}
.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  transition: display 0.5s;
}
/* background img */

.topi {
  background-image: url("../img/topi.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
}

.gambarformdaftar {
  background-image: url("../img/image\ 15.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
}

.img-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.gambar-laporan {
  background-image: url("../img/4025514\ 1.png");
  height: 400px;
}
input,
textarea {
  outline: none;
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
}
label {
  display: block;
}

.daftarbeasiswa small {
  color: var(--biru);
  display: block;
}

/************************************/
/*            INFORMASI             */
/************************************/
/* garis vertikal */
.vl {
  border-left: 1.5px solid var(--biru);
}
.icon-informasi {
  font-size: 100px;
  color: var(--biru);
}

/*******************************************/
/*               RESPONSIVES               */
/*******************************************/
/*=============== tablet view ===============*/
@media (max-width: 991px) {
}

@media (max-width: 767px) {
  /************************************/
  /*            INFORMASI             */
  /************************************/
  /* garis vertikal */
  .vl {
    border-left: none;
  }
}

/*=============== phone view ===============*/
@media (max-width: 576px) {
}
